footer{
  color: lightgoldenrodyellow;
  background: #1f1a1a;
  padding-top: 1cm;  position: relative;
  bottom: 0;
  width: 100%;
  border: 2px solid #fa7538;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 20px 50px

}
