footer{
  color: lightgoldenrodyellow;
  background: rgb(51, 45, 40);
  padding-top: 1cm;  position: relative;
  bottom: 0;
  width: 100%;
  border: 2px solid red;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-radius: 20px 50px

}
